



<section id="catalog">
    
                <h1>All posts</h1>
                <div class="wrap">
                        {{#each data}}
                    <!-- If there are posts for car in the database display each of them -->
                    <div class="car-card car-card-info">
                        <div class="front">
                            <img src="{{image}}"
                                alt="{{manufacturer}} {{model}}">
                        </div>
                        <div class="back">
                            <h1>{{manufacturer}} {{engine}}</h1>
                            <h2>Top Speed: {{topSpeed}} kmph</h2>
                            <p>Description: {{description}}</p>
                            <a href="/cars/details/{{_id}}" class="details">Details</a>
                        </div>
                    </div>



                 {{else}}

                    <div class="no-posts">
                        <p class="no-cars">There are no car posts yet...</p>
                    </div>  
                      {{/each}}
                </div>



